@import "./colors.css";
.FileContent {
  background-color: var(--filecontent-bgcolor);
  color: var(--general-text);
  font-family: monospace;
  font-size: 16px;
  padding: 24px;
}

@media (max-width: 768px) {
  .FileContent {
    height: 100%;
    overflow-x: scroll;
  }
}
