@import "./colors.css";

.FileExplorer {
  background-color: var(--filexplorer-bgcolor);
  padding: 18px 0;
}
.FileExplorer ul > li > .FileExplorerItem {
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
}

.FileExplorer ul > li > ul > li > .FileExplorerItem {
  padding-left: calc(18px + 8px);
}

.FileExplorer ul > li > ul > li > ul > li > .FileExplorerItem {
  padding-left: calc(18px + 8px + 8px);
}

.FileExplorer ul > li > ul > li > ul > li > ul > li > .FileExplorerItem {
  padding-left: calc(18px + 8px + 8px + 8px);
}

.FileExplorerEmpty {
  padding: 18px 0;
  text-align: center;
}

.FileExplorerItem {
  border: none;
  color: var(--general-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 16px;
  padding: 8px 0;
}

button.FileExplorerItem {
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.FileExplorerItem:not(.FileExplorerItemSelected) {
  background-color: transparent;
}

button.FileExplorerItem:hover {
  background-color: var(--filexplorer-hover);
}

.FileExplorerItemSelected {
  background-color: var(--filexplorer-selected);
}

.FileExplorerName {
  display: flex;
  align-items: center;
  gap: 8px;
}

.FileExplorerSize {
  font-size: 12px;
}
